---
layout: default
---
<h1 style="margin-bottom: 0;">{{ page.title }}</h1>
<p class="post_date" style="margin: 0;">{{ page.position }}</p>

{{ content }}

<div style="text-align: center;">
{% if page.dribbble %}<a href="https://dribbble.com/{{ page.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if page.email %}<a href="mailto:{{ page.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if page.facebook %}<a href="https://www.facebook.com/{{ page.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if page.flickr %}<a href="https://www.flickr.com/{{ page.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if page.github %}<a href="https://github.com/{{ page.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if page.instagram %}<a href="https://instagram.com/{{ page.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if page.linkedin %}<a href="https://www.linkedin.com/in/{{ page.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if page.pinterest %}<a href="https://www.pinterest.com/{{ page.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if page.rss %}<a href="{{ page.rss }}"><i class="svg-icon rss"></i></a>{% endif %}
{% if page.twitter %}<a href="https://www.twitter.com/{{ page.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if page.patreon %}<a href="https://www.patreon.com/{{ page.patreon }}"><i class="svg-icon patreon"></i></a>{% endif %}
{% if page.stackoverflow %}<a href="http://stackoverflow.com/{{ page.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if page.youtube %}<a href="https://youtube.com/{{ page.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if page.googleplus %}<a href="https://plus.google.com/{{ page.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
{% if page.playconsole %}<a href="https://play.google.com/store/apps/dev?id={{ page.playconsole }}"><i class="svg-icon playconsole"></i></a>{% endif %}
</div>

<h2>Stuff They've Done</h2>
<div style="text-align: center;">
  {% assign filtered_posts = site.posts | where: 'names', page.short_name %}
  {% for post in filtered_posts %}
  <article style="{% if post.categories contains "live" %}background-color: rgb(255, 85, 85); {% elsif post.categories contains "video" %}background-color: rgb(81, 180, 250); {% elsif post.categories contains "podcast" or post.categories contains "radio" %}background-color: rgb(138, 234, 146); {% elsif post.categories contains "update" %}background-color: rgba(255,128,0,0.25); {% endif %}padding: 1em;" class="post">
    {% if post.published == false %}
    <div class="post-unpublished">
      <p class="split">Unpublished</p>
    </div>
    {% endif %}
    {% if post.artwork <> Null %}
    <div style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); text-align: center; grid-gap: 1rem; margin:15px 0">
      <div style="display: flex; flex-direction: column; height: 100%; justify-content: center; align-items: center;"><img height=auto width="200" style="vertical-align:middle;" src="{{post.artwork}}"></div>
      <div style="grid-column-start: 2; grid-column-end: 4; display: flex; flex-direction: column; height: 100%; justify-content: center;">
    {% endif %}
    <a href="{{ site.baseurl }}{% if post.categories contains "live" %}/live{% else %}{{ post.url }}{% endif %}">
      <h1 style="margin-top: 0;">{% if post.categories contains "live" and forloop.first == true %}🔴 LIVE 🔴<br />{% endif %}{% if post.categories contains "podcast" or post.categories contains "radio" %}{{post.show}}{% else %}{{ post.title }}{% endif %}</h1>
      {% if post.categories contains "podcast" or post.categories contains "radio" %}
        {% assign titlelc = post.title | downcase %}
        {% assign showlc = post.show | downcase %}
        <h2 style="margin: 0;">{% unless post.season == Null %}Season {{ post.season }}{% endunless %}{% unless post.season == Null or post.episode == Null and titlelc == showlc %}: {% endunless %}{% unless post.episode == Null %}#{{ post.episode }}{% endunless %}{% unless post.episode == Null or titlelc == showlc %} - {% endunless %}{% unless titlelc == showlc %}"{{ post.title }}"{% endunless %}</h2>
      {% endif %}
      {% unless post.categories contains "live" %}<div>
        <p class="post_date"{% if post.categories contains "video"  %} style="color: white;"{% endif %}>{{ post.date | date: "%e %B %Y" }}</p>
      </div>{% endunless %}
    </a>
    <div class="post-elsewhere">
      {% if post.elsewhere %}<p style="text-align: center;">🔀 from {{post.elsewhere}}</p>{% endif %}
    </div>
    </div>
    </div>
    {% if post.mp3 <> Null %}
    <div style="text-align:center">
      <audio controls style="width: 75%;">
        <source src="{{ post.mp3 }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    {% else %}
    <div class="entry">
      {{ post.excerpt }}
    </div>
    {% endif %}
    {% if post.categories contains "podcast" or post.categories contains "radio" %}<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Show Notes</a>{% elsif post.categories contains "video" or post.categories contains "live" %}{% else %}<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>{% endif %}
    {% unless post.artwork <> Null %}
    {% endunless %}
  </article>
  {% endfor %}
</div>
