---
layout: default
---
<h1 style="margin-bottom: 0;">{% if page.categories contains "slletshow" %}<a href="/slletshow">{{ page.show }}</a>{% else %}{{page.show}}{% endif %}</h1>
{% assign titlelc = page.title | downcase %}
{% assign showlc = page.show | downcase %}
<h2 style="margin: 0;">{% unless page.season == Null %}Season {{ page.season }}{% endunless %}{% unless page.season == Null or page.episode == Null and titlelc == showlc %}: {% endunless %}{% unless page.episode == Null %}#{{ page.episode }}{% endunless %}{% unless page.episode == Null or titlelc == showlc %} - {% endunless %}{% unless titlelc == showlc %}"{{ page.title }}"{% endunless %}</h2>
{% unless page.artwork == Null %}<img height=auto width="200" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px;" src="{{page.artwork}}">{% endunless %}
{% for roles in page.people %}
{% for role in roles %}
<p style="text-align: center; margin: 0;">{% if role[0] == "Host" or role[0] == "Hosts" %}Hosted by {% elsif role[0] == "Guest" or role[0] == "Guests" %}With {% else %}{{ role[0] }}: {% endif %}{% for i in role[1] %}{% if forloop.last and forloop.length != 1 %} and {% elsif forloop.first %}{% else %}, {% endif %}{{i}}{% endfor %}</p>
{% endfor %}
{% endfor %}
<!--{% unless page.hosts == Null %}<p style="text-align: center; margin-bottom: 0;">Hosted by {% for i in page.hosts %}{% if forloop.last and forloop.length != 1 %} and {% elsif forloop.first %}{% else %}, {% endif %}{{i}}{% endfor %}</p>{% endunless %}
{% unless page.guests == Null %}<p style="text-align: center; margin-top: 0; margin-bottom: 0;">With {% for i in page.guests %}{% if forloop.last and forloop.length != 1 %} and {% elsif forloop.first %}{% else %}, {% endif %}{{i}}{% endfor %}</p>{% endunless %}
{% unless page.producers == Null %}<p style="text-align: center; margin-top: 0; margin-bottom: 0;">Produced by {% for i in page.producers %}{% if forloop.last and forloop.length != 1 %} and {% elsif forloop.first %}{% else %}, {% endif %}{{i}}{% endfor %}</p>{% endunless %}-->
{% unless page.mp3 == Null %}<div style="text-align:center">
<audio controls style="width: 75%; margin-top: 15px;">
  <source src="{{ page.mp3 }}" type="audio/mpeg"/>
  Your browser does not support the audio element.
</audio>
</div>{% endunless %}
{% if page.categories contains "slletshow" %}
<div style="text-align:center;">
  <a href="/slletshow/rss"><i class="svg-icon rss"></i></a>
  <a href="https://podcasts.apple.com/us/podcast/the-sllet-radio-show/id1587759816"><i class="svg-icon apple-podcasts"></i></a>
  <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82ZDE5MzFkNC9wb2RjYXN0L3Jzcw"><i class="svg-icon google-podcasts"></i></a>
  <a href="https://pca.st/bvsgaixz"><i class="svg-icon pocketcasts"></i></a>
  <a href="https://overcast.fm/itunes1587759816"><i class="svg-icon overcast"></i></a>
  <a href="https://open.spotify.com/show/3QFAmW6xEww6kiuk4CuKsG?si=tgOAAZV-S6K96rE0JrXvZg&dl_branch=1"><i class="svg-icon spotify"></i></a>
  <a href="https://www.youtube.com/channel/UClG7zTagAztOx5KhVwPgRVQ"><i class="svg-icon youtube"></i></a>
  <i class="svg-icon"></i>
  <a href="https://facebook.com/slletshow"><i class="svg-icon facebook"></i></a>
  <a href="https://instagram.com/slletshow"><i class="svg-icon instagram"></i></a>
  <a href="https://twitter.com/slletshow"><i class="svg-icon twitter"></i></a>
  <a href="mailto:slletshow@gmail.com"><i class="svg-icon email"></i></a>
</div>
{% endif %}
<div class="entry">
  {{ content }}
</div>

<!--<div class="post-roles">
  {% if post %}
    {% assign roles = post.roles %}
  {% else %}
    {% assign roles = page.roles %}
  {% endif %}
  {% for role in roles %}
  {% if forloop.first == true %}
      <p>Role{% if forloop.length > 1 %}s{% endif %}:&nbsp;
  {% endif %}
    <a href="{{site.baseurl}}/roles/#{{role|slugize}}">{{role | replace: " ", "&nbsp;"}}</a>
    {% if forloop.last %}</p>{% else %}&nbsp;{% endif %}
  {% endfor %}
</div>-->
