---
layout: default
---

<article class="post detailed">
  {% if page.hidden == true %}
      <div class="post-hidden">
        <p class="split">This Page is Unlisted</p>
      </div>
    {% endif %}
  <h1>{{ page.title }}</h1>
  {% capture date %}{% if page.last_modified_at %}{{ page.last_modified_at }}{% elsif page.date == Nil %}{{ site.time }}{% else %}{{ page.date }}{% endif %}{% endcapture %}
  <p class="author_title" id="lastupdated" datetime="{{ date | date_to_xmlschema }}">{% if page.author == Nil %}{{site.author}}{% else %}{{ page.author }}{% endif %}  ·  {{ date | date: "%R %A, %e&nbsp;%B&nbsp;%Y" }}</p>
    <div class="post-tags">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
        <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  <div>
    {% if post %}
      {% if post.elsewhere %}<p style="text-align: center;">🔀 from {{post.elsewhere}}</p>{% endif %}
    {% else %}
      {% if page.elsewhere %}<p style="text-align: center;">🔀 from {{page.elsewhere}}</p>{% endif %}
    {% endif %}
  </div>
    
  <div class="entry">
    {% if page.mp3 <> Null %}
    <div style="text-align:center">
    <audio controls style="width: 75%;">
      <source src="{{ page.mp3 }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    </div>
    {% endif %}
    {% if page.youtube <> Null %}
    <iframe width="100%" height="400em" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
  {{ content }}
</div>
{% unless page.people == Nil %}
  <h6>Credits:</h6>
  {% for roles in page.people %}
  {% for role in roles %}
  <p style="text-align: center; margin: 0;">{% if role[0] == "Host" or role[0] == "Hosts" %}Hosted by {% elsif role[0] == "Guest" or role[0] == "Guests" %}With {% elsif role[0] == "Producer" or role[0] == "Producers" %}Produced by {% else %}{{ role[0] }}: {% endif %}{% for i in role[1] %}{% if forloop.last and forloop.length != 1 %} and {% elsif forloop.first %}{% else %}, {% endif %}{{i}}{% endfor %}</p>
  {% endfor %}
  {% endfor %}
  {% endunless %}

  <div class="post-roles">
    {% if post %}
      {% assign roles = post.roles %}
    {% else %}
      {% assign roles = page.roles %}
    {% endif %}
    {% for role in roles %}
    {% if forloop.first == true %}
        <p>Role{% if forloop.length > 1 %}s{% endif %}:&nbsp;
    {% endif %}
      <a href="{{site.baseurl}}/roles/#{{role|slugize}}">{{role | replace: " ", "&nbsp;"}}</a>
      {% if forloop.last %}</p>{% else %}&nbsp;{% endif %}
    {% endfor %}
  </div>

  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    {% if forloop.first == true %}
        <p>Categor{% if forloop.length > 1 %}ies{% else %}y{% endif %}:&nbsp;
    {% endif %}
      {% if category == "video" %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/videos">{{category}}</a>
      {% elsif category == "live" %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/live">{{category}}</a>
      {% elsif category == "post" %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/posts">{{category}}</a>
      {% else %}
      <a style="text-transform: capitalize;" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% endif %}
      {% if forloop.last %}</p>{% else %}&nbsp;{% endif %}
    {% endfor %}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%e %B %Y" }}
  </div>-->
  {% if comments %}
    {% include disqus.html %}
  {% endif %}
</article>
